@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@500&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

header {
  width: 100vw;
  height: 90px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.61);
  background-color: rgba(10, 10, 13, 0.911);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 4;
}
header .logo-link {
  text-decoration: none;
  margin-left: 10vw;
}
header .logo {
  display: flex;
  margin-left: 10%;
  font-size: 2em;
  color: rgb(197, 197, 197);
  font-family: "Gemunu Libre", sans-serif;
}
header .logo #left-logo {
  transform: rotate(131deg) translate(18px, -21px);
  width: 15px;
  height: 20px;
}
header .logo #right-logo {
  width: 15px;
  height: 20px;
  transform: rotate(-45deg) translate(7px, -12px);
}
header ul {
  display: flex;
  gap: 30px;
}
header ul :last-child {
  margin-right: 40px;
}
header ul a {
  text-decoration: none;
  color: rgb(197, 197, 197);
  transition: ease 0.5s;
}
header ul a:hover {
  color: rgb(122, 122, 122);
}

.logo:hover {
  cursor: pointer;
}
.logo:hover #left-logo {
  animation: logo-animation-left 1s ease-in-out;
}
.logo:hover #right-logo {
  animation: logo-animation-right 1s ease-in-out;
}

@media (max-width: 1000px) {
  nav {
    display: none;
  }
  .hamburguer-menu {
    width: 40px;
    height: 20px;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
  }
  #ham1 {
    height: 2.4px;
    width: 60%;
    background-color: white;
    animation: x-to-ham ease-in 1s forwards;
  }
  #ham2 {
    height: 2.4px;
    width: 100%;
    background-color: white;
    animation: y-to-ham ease-in 1s forwards;
  }
  .menu-section.on {
    position: absolute;
    top: 0;
    right: 0;
    background-color: rgba(30, 32, 34, 0.973);
    width: 60vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    transition: 0.5s ease;
  }
  .menu-section.on nav {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .menu-section.on nav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .menu-section.on nav ul :last-child {
    margin-right: 0px;
  }
  .menu-section.on nav a {
    transition-duration: 0.5s;
    line-height: 3rem;
  }
  .menu-section.on .hamburguer-menu {
    position: absolute;
    right: 0;
    top: 25px;
  }
  .menu-section.on .hamburguer-menu #ham1 {
    animation: ham-to-x 1s ease-in forwards;
  }
  .menu-section.on .hamburguer-menu #ham2 {
    animation: ham-to-y 1s ease-in forwards;
  }
}
@keyframes ham-to-y {
  10% {
    transform: translateY(-100%);
  }
  30% {
    transform: translateY(-300%);
    width: 50%;
  }
  60% {
    transform: translateY(-100%);
    width: 70%;
  }
  90% {
    transform: translateY(-100%);
    width: 70%;
  }
  100% {
    transform: rotate(45deg) translate(2px, -5px);
    width: 70%;
  }
}
@keyframes ham-to-x {
  10% {
    transform: translateY(100%);
  }
  30% {
    transform: translateY(300%);
    width: 50%;
  }
  60% {
    transform: translateY(100%);
    width: 70%;
  }
  90% {
    transform: translateY(100%);
    width: 70%;
  }
  100% {
    transform: translateY(100%);
    width: 70%;
    transform: rotate(-45deg) translate(-8px, 14px);
  }
}
@keyframes x-to-ham {
  0% {
    width: 70%;
    transform: rotate(-45deg) translate(-8px, 14px);
  }
  30% {
    transform: translateY(300%);
    width: 50%;
  }
  60% {
    transform: translateY(100%);
    width: 70%;
  }
  90% {
    transform: translateY(100%);
    width: 70%;
  }
  100% {
    width: 60%;
  }
}
@keyframes y-to-ham {
  0% {
    transform: rotate(45deg) translate(1px, -5px);
    width: 70%;
  }
  30% {
    transform: translateY(-300%);
    width: 50%;
  }
  60% {
    transform: translateY(-100%);
    width: 70%;
  }
  90% {
    transform: translateY(-100%);
    width: 70%;
  }
  100% {
    width: 100%;
  }
}
@keyframes logo-animation-left {
  100% {
    transform: rotate(314deg) translate(39px, 21px);
  }
}
@keyframes logo-animation-right {
  100% {
    transform: rotate(131deg) translate(48px, 14px);
  }
}
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Gemunu Libre", sans-serif;
  font-weight: 200;
  width: 100%;
  height: 100vh;
  position: relative;
}
main h1 {
  font-size: 4vw;
  color: rgb(197, 197, 197);
}
main h1 span {
  color: rgb(52, 145, 125);
}
main h2 {
  margin-top: 20px;
  font-size: 2.5vw;
  color: rgb(197, 197, 197);
}

.montanhaverde {
  width: 100%;
  position: absolute;
  filter: brightness(40%) sepia(100%) hue-rotate(190deg);
  z-index: -1;
  transition: ease-in-out;
}

.montanhaneve {
  width: 100%;
  position: absolute;
  left: -300px;
  z-index: -2;
  filter: brightness(15%) sepia(100%) hue-rotate(190deg);
  transition: ease-in-out;
  margin-bottom: 200px;
}

.container-icons {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container-icons i {
  margin: 20px;
  font-size: 5vw;
  color: transparent;
  transition: 0.5s ease-in-out;
}

i:hover {
  color: rgb(197, 197, 197);
}

.gradientBlue {
  background-image: linear-gradient(36deg, rgb(55, 99, 84), rgb(58, 175, 148));
  -webkit-background-clip: text;
  background-clip: text;
}

@media (max-width: 900px) {
  main {
    overflow: hidden;
    width: 100vw;
  }
  main .montanhaverde {
    width: 300%;
  }
  main .montanhaneve {
    width: 300%;
  }
  main h1 {
    font-size: 2em;
  }
  main h2 {
    font-size: 1.3em;
  }
  .container-icons i {
    font-size: 4em;
  }
}
h2 {
  color: rgb(52, 145, 125);
  font-family: "Gemunu Libre", sans-serif;
  font-size: 3em;
  margin-bottom: 40px;
}

.about {
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 130px;
  padding-bottom: 90px;
  background-color: rgb(14, 15, 19);
}
.about p {
  max-width: 600px;
  width: 80vw;
  color: rgb(197, 197, 197);
  font-size: 1.3em;
  margin-bottom: 10px;
  line-height: 25px;
  font-weight: 300;
}
.about img {
  width: 15vw;
  position: absolute;
  transform: rotate(-35deg);
  left: 50px;
  animation: float 3s ease-in-out infinite;
  filter: brightness(50%);
}

@media (max-width: 1000px) {
  h2 {
    font-size: 2.5em;
  }
  .about {
    padding-top: 0px;
  }
  .about p {
    font-size: 1.2em;
    width: 90%;
    z-index: 3;
  }
  .about img {
    z-index: 0;
    transform: rotate(-35deg);
    width: 150px;
    top: 1000px;
  }
}
@keyframes float {
  50% {
    margin-top: 30px;
  }
  100% {
    margin-top: 0;
  }
}
.skills {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(14, 15, 19);
}
.skills .column-direction {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.skills p {
  text-align: center;
  color: rgb(197, 197, 197);
  font-size: 1.3em;
  margin-top: 90px;
  max-width: 600px;
  line-height: 25px;
  font-weight: 300;
  transition: opacity 0.5s linear;
}

.container-skills {
  display: flex;
  width: 80%;
  align-items: center;
  justify-content: center;
  gap: 4vw;
}

.transition-text {
  -webkit-transition: opacity 0.2s ease-in-out;
  -moz-transition: opacity 0.2s ease-in-out;
  -ms-transition: opacity 0.2s ease-in-out;
  -o-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
}

.skills-card {
  width: 10vw;
  min-width: 130px;
  height: 160px;
  font-size: 20px;
  background-color: rgb(21, 26, 25);
  border-radius: 10px 10px 10px 10px;
  text-align: center;
  font-family: "Gemunu Libre", sans-serif;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.603);
  transition: 0.7s ease-in-out;
}
.skills-card h4 {
  margin-top: 20px;
  color: rgb(165, 195, 202);
}
.skills-card img {
  margin-top: 20px;
  width: 80px;
  height: 80px;
  filter: grayscale(20%) brightness(70%);
}

.skills-card:hover {
  transform: scale(1.05);
}

@media (max-width: 1000px) {
  .skills img {
    width: 60px;
    height: 60px;
  }
  .container-skills {
    width: 80%;
    display: grid;
    grid-template-columns: 33% 33% 33%;
  }
  .container-skills .skills-card {
    margin-left: auto;
    margin-right: auto;
    min-width: 100px;
    height: 140px;
  }
  .container-skills .skills-card h4 {
    font-size: 18px;
  }
}
.projects {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 80px;
  background-color: rgb(14, 15, 19);
}

.container-card-projects {
  display: grid;
  grid-template-columns: 50% 50%;
}

.card-projects {
  margin-top: 40px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  margin-left: 40px;
  flex-direction: column;
  text-align: center;
  width: 40vw;
  max-width: 500px;
  background-color: rgb(22, 25, 27);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.603);
}
.card-projects p {
  color: rgba(255, 255, 255, 0.726);
  line-height: 25px;
  font-size: 0.9em;
  position: absolute;
  width: 230px;
  margin-top: 130px;
  font-weight: 300;
  opacity: 0;
  transition: 1s ease;
}
.card-projects h3 {
  margin-top: 90px;
  position: absolute;
  color: rgb(50, 209, 183);
  font-size: 1.2em;
  font-family: "Gemunu Libre", sans-serif;
  text-transform: uppercase;
  opacity: 0;
  transition: 1s ease;
}
.card-projects img {
  width: 40vw;
  max-width: 500px;
  height: 230px;
  object-fit: cover;
  border-radius: 10px;
  filter: brightness(90%);
  transition: 1s ease;
}

.card-projects:hover h3 {
  opacity: 1;
}
.card-projects:hover p {
  opacity: 1;
}
.card-projects:hover img {
  filter: brightness(20%);
}

.invitation {
  margin-top: 40px;
  display: flex;
  align-items: baseline;
  flex-direction: row;
}
.invitation p {
  color: rgb(197, 197, 197);
  font-size: 18px;
}
.invitation img {
  margin-top: 20px;
  height: 70px;
  cursor: pointer;
  filter: drop-shadow(0px 6px 2px rgba(0, 0, 0, 0.78));
  filter: brightness(80%);
}
.invitation .animationcoffe {
  animation: coffe 2s ease forwards;
}
.invitation .sorry {
  margin-top: 20px;
  font-size: 0.7em;
  transition: 10s ease-out;
}
.invitation .hide {
  opacity: 0;
}

.invitation-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@keyframes coffe {
  60% {
    transform: rotate(25deg) translate(12px, -6px);
  }
  100% {
    transform: rotate(87deg) translate(20px, -45px);
  }
}
@media (max-width: 1000px) {
  .invitation-text {
    width: 90%;
    margin-top: 40px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  .container-card-projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .card-projects {
    margin-left: 0;
    width: auto;
  }
  .card-projects h3 {
    opacity: 1;
    font-size: 1.5em;
  }
  .card-projects p {
    opacity: 1;
    font-size: 1.2em;
  }
  .card-projects img {
    width: 90vw;
    filter: brightness(40%);
  }
}
.contacts {
  padding-top: 80px;
  height: 60vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: rgb(14, 15, 19);
  padding-bottom: 300px;
}
.contacts p {
  font-size: 1.3em;
  color: rgb(197, 197, 197);
}

footer {
  background-color: rgb(14, 15, 19);
  height: 100px;
  display: flex;
  align-items: center;
  box-shadow: 3px 0px 10px 1px rgba(0, 0, 0, 0.541);
}
footer p {
  color: rgb(141, 141, 141);
  margin-left: 20px;
  font-size: 0.8em;
}

.container-chat {
  background-color: rgb(28, 29, 31);
  border: 1px solid rgb(75, 75, 75);
  max-width: 300px;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  height: 500px;
}

.header-chat {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  border-bottom: 1px solid rgb(75, 75, 75);
  padding-bottom: 10px;
}
.header-chat img {
  padding: 6px;
  background-color: rgb(14, 15, 19);
  border: 3px solid rgb(14, 15, 19);
  border-radius: 100%;
  width: 30px;
}
.header-chat p {
  margin-left: 10px;
  font-family: "Gemunu Libre", sans-serif;
  color: rgb(52, 145, 125);
}

.content-chat {
  height: 360px;
  overflow-y: scroll;
}
.content-chat p {
  font-size: 0.9em;
  width: fit-content;
  max-width: 90%;
  margin: 5px;
  padding: 9px 7px;
  border-radius: 10px;
  background-color: rgb(16, 17, 17);
  line-height: 20px;
  transition: 2s ease;
}
.content-chat p a {
  color: rgb(69, 121, 124);
  cursor: pointer;
  text-decoration: underline;
}
.content-chat p strong {
  font-weight: bold;
}
.content-chat .text-chat-rigth {
  background-color: gray;
  margin-left: auto;
  margin-top: 10px;
  max-width: 80%;
  width: fit-content;
}

#span1 {
  animation: loading 1s ease infinite;
}

#span2 {
  animation: loading 1.01s ease infinite;
}

#span3 {
  animation: loading 1.02s ease infinite;
}

@keyframes loading {
  100% {
    color: rgb(49, 49, 49);
  }
}
.content-chat::-webkit-scrollbar {
  width: 12px;
  background-color: rgba(48, 48, 48, 0.658);
  border: 5px solid rgb(28, 29, 31);
}

.content-chat::-webkit-scrollbar-thumb {
  border: 2px solid rgb(28, 29, 31);
}

.bottom-chat {
  border-top: 1px solid rgb(75, 75, 75);
  padding: 10px;
  display: flex;
  gap: 5px;
}
.bottom-chat button {
  background-color: rgb(52, 145, 125);
  border: none;
  padding: 9px;
  font-size: 12px;
  border-radius: 20px;
  cursor: pointer;
  color: rgb(197, 197, 197);
  height: 30px;
  min-width: 90px;
  transition: 0.5s ease;
}
.bottom-chat button:hover {
  background-color: rgb(60, 90, 84);
}

html {
  scroll-behavior: smooth;
}

.bodyHidden {
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
  font-family: "Inter", sans-serif;
  background-color: rgb(14, 15, 19);
}

::-webkit-scrollbar {
  width: 12px;
  background-color: rgba(155, 155, 155, 0.658);
  border: 5px solid rgb(14, 15, 19);
}

::-webkit-scrollbar-thumb {
  background-color: rgb(52, 145, 125);
  border-radius: 50px;
  border: 2px solid rgb(14, 15, 19);
}

.init-hidden {
  opacity: 0;
  transition: opacity 1s linear;
}

.init-hidden-off {
  opacity: 1;
}

/*# sourceMappingURL=style.css.map */
