.contacts{
  padding-top: 80px;
  height: 60vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: $primaryclr;
  padding-bottom: 300px;

  p{
    font-size: 1.3em;
    color: $contrastclr;
  }
}