footer{
  background-color: $primaryclr;
  height: 100px;
  display: flex;
  align-items: center;
  box-shadow: 3px 0px 10px 1px rgba(0, 0, 0, 0.541);
  margin-top: 300px;
  
  p{
    color: rgb(141, 141, 141);
    margin-left: 20px;
    font-size: 0.8em;
  }
}