
header{
  width: 100%;
  height: 90px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.61);
  background-color: rgba(15, 15, 15, 0.911);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 4;
  
  .logo-link{
    text-decoration: none;
    margin-left: 10vw;
  }
  .logo{
    
    display: flex;
    margin-left: 10%;
    font-size: 2em;
    color: $contrastclr;
    font-family: $ffsec;
  
    #left-logo{
      transform:  rotate(131deg) translate(18px, -21px);
      width: 15px;
      height: 20px;
    }
    
    #right-logo{
      width: 15px;
      height: 20px;
      transform:  rotate(-45deg) translate(7px, -12px);
    }
    
  }
  ul{
    display: flex;
    gap: 30px;
    :last-child{
      margin-right: 40px;
    }
    a{
      text-decoration: none;
      color: $contrastclr;
      transition: ease 0.5s;
    }
    a:hover{
      color: rgb(122, 122, 122);
    }
  }
}
.logo:hover{
  cursor: pointer;
  #left-logo{
    animation: logo-animation-left 1s ease-in-out ; 
  }
  #right-logo{
    animation: logo-animation-right 1s ease-in-out;
  }
}



@media (max-width: 1000px){

  nav{
    display: none;
  }
  .hamburguer-menu{
    width: 40px;
    height: 20px;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
  }
  #ham1{ 
    height: 2.4px;
    width: 60%;
    background-color: white;
    animation: x-to-ham ease-in 1s forwards;
  }
  #ham2{
    height: 2.4px;
    width: 100%;
    background-color: white;
    animation: y-to-ham ease-in 1s forwards;
  }
  
  .menu-section.on{
        position: absolute;
        top: 0;
        right: 0;
        background-color: rgba(30, 32, 34, 0.973);
        width: 60vw;
        height: 100vh;
        display: flex;
        justify-content: center;
        transition: 0.5s ease;
        nav{
            display: flex;
            justify-content: center;
            align-items: center;
           ul{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
          :last-child{
            margin-right: 0px;
           }
          }
            a{
                transition-duration: 0.5s;
                line-height: 3rem;
            }
  }
        .hamburguer-menu{
          position: absolute;
          right: 0;
          top: 25px;

          #ham1{
            animation: ham-to-x 1s ease-in forwards; 
            
        }
        #ham2{
            animation: ham-to-y 1s ease-in forwards;
        }
}
}

}


@keyframes ham-to-y {
  10%{
      transform: translateY(-100%);
  }
  30%{
      transform: translateY(-300%);
      width: 50% ;
  }
  60%{
      transform: translateY(-100%);
      width: 70% 
  }
  90%{
      transform: translateY(-100%);
      width: 70% 
  }
  100%{
      transform: rotate(45deg) translate(2px, -5px);
      width: 70%;
  }
}
@keyframes ham-to-x{
  10%{
      transform: translateY(100%);
  }
  30%{
      transform: translateY(300%);
      width: 50% ;
  }
  60%{
      transform: translateY(100%);
      width: 70% 
  }
  90%{
      transform: translateY(100%);
      width: 70% 
  }
  100%{
      transform: translateY(100%);
      width: 70%;
      transform: rotate(-45deg) translate(-7px, 14px);

  }
}
@keyframes x-to-ham{
  0%{
      width: 70%;
      transform: rotate(-45deg) translate(-7px, 14px);
  }

  30%{
      transform: translateY(300%);
      width: 50% ;
  }
  60%{
      transform: translateY(100%);
      width: 70% 
  }
  90%{
      transform: translateY(100%);
      width: 70% 
  }
  100%{
      width: 60%;
      
  }
}
@keyframes y-to-ham {
  0%{
      transform: rotate(45deg) translate(1px, -5px);
      width: 70%;
  }
 
  30%{
      transform: translateY(-300%);
      width: 50% ;
  }
  60%{
      transform: translateY(-100%);
      width: 70% 
  }
  90%{
      transform: translateY(-100%);
      width: 70% 
  }
  100%{
      width: 100%;
  }
}

@keyframes logo-animation-left {
  100%{
    transform:  rotate(314deg) translate(39px, 21px);
  }
}

@keyframes logo-animation-right {
  100%{
    transform:  rotate(131deg) translate(48px, 14px);
  }
}
