.projects{
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 80px;
  background-color: $primaryclr;
}
.container-card-projects{
  display: grid;
  grid-template-columns: 50% 50%;
}

.card-projects{
  margin-top: 40px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  margin-left: 40px ;
  flex-direction: column;
  text-align: center;
  width:40vw;
  max-width: 500px;
  background-color: rgb(22, 25, 27);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.603);
  
  p{
    color: rgba(255, 255, 255, 0.726);
    line-height: 25px;
    font-size: 0.9em;
    position: absolute;
    width: 230px;
    margin-top: 130px;
    font-weight: 300;
    opacity: 0;
    transition: 1s ease;
  }
  h3{
    margin-top: 90px;
    position: absolute;
    color: rgb(50, 209, 183);
    font-size: 1.2em;
    font-family: $ffsec;
    text-transform: uppercase;
    opacity: 0;
    transition: 1s ease;
  }
  img{
    width:40vw;
    max-width: 500px;
    height: 230px;
    object-fit: cover;
    border-radius: 10px;
    filter: brightness(90%);
    transition: 1s ease;
  }
}

.card-projects:hover{
  h3{
    opacity: 1;
  }
  p{
    opacity: 1;
  }
  img{
    filter: brightness(20%);
  }
}

.invitation{
  margin-top: 40px;
  display: flex;
  align-items: baseline;
  flex-direction: row;
  p{
      color: $contrastclr;
      font-size: 18px;
  }
  img{
    margin-top: 20px;
    height: 70px;
    cursor: pointer;
    filter:drop-shadow(0px 6px 2px rgba(0,0,0,0.78));
    filter: brightness(80%);
  }

  .animationcoffe{
    animation: coffe 2s ease forwards;
    
  }
  .sorry{
    margin-top: 20px;
    font-size: 0.7em;
    transition: 10s ease-out;
  }
  .hide{
    opacity: 0;
  }
}
.invitation-text{
  display: flex;
  flex-direction: column;
  align-items: center;
}




@keyframes coffe {
 
  60%{
    transform: rotate(25deg) translate(12px, -6px) ;
  }

  100%{
    transform: rotate(87deg) translate(20px, -45px);
  }
}
@media (max-width: 1000px) {
  
  .invitation-text{
    width: 90%;
    margin-top: 40px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  
  .container-card-projects{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
  }
  .card-projects{
    margin-left: 0;
    width: auto;
    
    h3{
      opacity: 1;
      font-size: 1.5em;
    }
    p{
      opacity: 1;
      font-size: 1.2em;
    }
    img{
      width: 90vw;
      filter: brightness(40%);
    }
  }
}
