.skills{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 200px;
  height: 60vh;
  min-height: 500px;

  .column-direction{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items:center;
  }
  p{
    text-align: center;
    color: $contrastclr;
    font-size: 1.3em;
    margin-top: 90px;
    max-width: 600px;
    line-height: 25px;
    font-weight: 300;
    transition: opacity 0.5s linear;
  }
}
.container-skills{
  display: flex;
  width: 80%;
  align-items: center;
  justify-content: center;
  gap: 4vw;
}
.transition-text{
  -webkit-transition: opacity .2s ease-in-out;
  -moz-transition: opacity .2s ease-in-out;
  -ms-transition: opacity .2s ease-in-out;
  -o-transition: opacity .2s ease-in-out;
  transition: opacity .2s ease-in-out;
}
.skills-card{
  width: 10vw;
  min-width: 130px;
  height: 170px;
  font-size: 20px;
  background-color: rgb(32, 38, 43);
  border-radius: 10px 40px 10px 40px;
  text-align: center;
  font-family: $ffsec;
  border-bottom: 3px solid rgb(15, 22, 20);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.603);
  cursor: pointer;
  transition: 0.7s ease-in-out;
  margin-top: 20px;
  
  h4{
    margin-top: 15px;
    color: rgb(165, 195, 202);
  }
  i{
    margin-top:15px ;
    font-size: 80px;
    color: transparent;
    transition:0.5s ease-in-out;
  }
}

.skills-card:hover{
  transform: scale(1.1)
}

@media (max-width: 1000px) {
  .skills{
    height: 80vh;
    .column-direction{
      flex-direction: column-reverse;
    }
    p{
      font-size: 1em;
      margin: 20px auto 40px;
      width: 90vw;
      transition: height 0.7s;
    }
  }

  .container-skills{
      width: 90%;
      display: grid;
      grid-template-columns: 33% 33% 33%;
      gap: 0;
      transition: ease 0.5s;
      
      
    .skills-card{
      margin-left: auto;
      margin-right: auto;
      min-width: 90px;
      height: 120px;

      i{
        font-size: 50px;
      }
    }
  }
}

.transform{
  transform: translateY(125px);
}
.transform-back{
  transform: translateY(-115px);
}
.plus-height{
  height: 150px;
}
.transition{
  transition: 0s ;
}