@charset 'UTF-8';
//fonts
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@500&display=swap');
//variables
$primaryclr:rgb(15, 15, 15);
$secondaryclr: rgb(52, 145, 125);
$contrastclr:rgb(197, 197, 197);
$fontfamily:'Inter', sans-serif;
$ffsec:  'Gemunu Libre', sans-serif;

//scss imports
@import 'reset';
@import 'header';
@import 'main';
@import 'about';
@import 'skills';
@import 'projects';
@import 'contacts';
@import 'footer';

html{
  scroll-behavior: smooth;
}


.bodyHidden{
  overflow-x: hidden;
}
body{
  overflow-x: hidden;
  font-family: $fontfamily;
  background-color: $primaryclr;
}

::-webkit-scrollbar{
  width: 12px;
  background-color: rgba(155, 155, 155, 0.658);
  border: 5px solid $primaryclr;
}

::-webkit-scrollbar-thumb{
  background-color: $secondaryclr;
  border-radius: 50px;
  border: 2px solid $primaryclr;
}

.init-hidden{
  opacity: 0;
  transition: opacity 3s linear;
}
.init-hidden-off{
  opacity: 1;
}
